body{
  background: #E5E5E5;
}
.btn-auth{
  width: 100px;
  margin: 0 5px;
  background: #433434;
  border: none;
}

.bg-yellow{
  background-color: #FFC700;
}

.playfair{
  font-family: 'Playfair Display', serif;
}

.header-hero{
  font-size: 50px;
  font-weight: 800;
  color: #433434;
  letter-spacing: 2px;
}

.hero-line{
  /* padding: 1px 0; */
  height: 3px;
  background: #433434;
  width: 150px;
}

.header-content{
  font-size: 25px;
  font-weight: bold;
  color: #433434;
  letter-spacing: 2px;
}

.img-chart{
  width: 30px;
  height: 30px;
  margin: auto 0;
  margin-right: 10px;
}

.img-user{
  width: 50px;
  height: 50px;
  margin: auto 0;
}

.register-header{
  color: #FFC700;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
}

.btn-modal{
  background: #433434;
  border: none;
}